<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Template</title>
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/page.css" rel="stylesheet">
    <link href="/stylesheets/chat.css" rel="stylesheet">

	  

	 	<script src="/js/angular.min.js">
		
		
		 
			
		 	   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	 
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="chat">
	  
<!--
	    <div class="chat-sidebar">
            <div class="sidebar-name">
                <!-- Pass username and display name to register popup 
                <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
                    <img width="30" height="30" src="https://im.bazarn.com/45x45/uploads/avatar_56e45a9af0d71d636d8b4567_114263336.jpg" />
                    <span>Narayan Prusty</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qnimate', 'QNimate');">
                    <img width="30" height="30" src="https://im.bazarn.com/90x90/uploads/shoplogo_56e3c109f0d71d097a8b4567_53404480.jpeg" />
                    <span>QNimate</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qscutter', 'QScutter');">
                    <img width="30" height="30" src="https://im.bazarn.com/90x90/uploads/shoplogo_56e2666af0d71dc0758b4567_1383634472.jpeg" />
                    <span>QScutter</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qidea', 'QIdea');">
                    <img width="30" height="30" src="https://im.bazarn.com/90x90/uploads/avatar_56e2543cf0d71d4e5d8b4567_1146068162.jpg" />
                    <span>QIdea</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qazy', 'QAzy');">
                    <img width="30" height="30" src="https://im.bazarn.com/90x90/uploads/avatar_56e27075f0d71daa0e8b4567_2091331663.jpg" />
                    <span>QAzy</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qblock', 'QBlock');">
                    <img width="30" height="30" src="https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg" />
                    <span>QBlock</span>
                </a>
            </div>
        </div>
-->

<div class='chat-sidebar-sp'>
	<button  class='xtabs-min'>&ndash;</button>
<ul class="xtabs">
    <li>
        <input type="radio" name="tabs" id="tab1" checked />
        <label for="tab1">เพื่อน</label>
        <div id="tab-content1" class="tab-content">
            <ul class='thisismyfriend'>
	            
	            <li  ng-repeat='n in list | filter:q'>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/{{n.picture}}'></div>
			            <div class='fordetail'>
				            <div class='hername'>{{n.name}}</div>
				            <div class='online-state'>
					            <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
<!--
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
-->
            </ul>
        </div>
    </li>
  
    <li>
        <input type="radio" name="tabs" id="tab2"  />
        <label for="tab2">กลุ่ม</label>
        <div id="tab-content2" class="tab-content">
            <ul class='thisismygroup'>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อกรุ๊ป</div>
				            <div class='whois_ingroup'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'>
					            <span>...และอีก x คน</span>
				            </div>
			            </div>
		            </a>
	            </li>
            </ul>
        </div>
    </li>
    <li>
        <input type="radio" name="tabs" id="tab3" />
        <label for="tab3">มีกิจกรรมร่วมกัน</label>
        <div id="tab-content3" class="tab-content">
            <ul class='thisismyfriend'>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-user"></i> <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อร้านของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-shopping-cart"></i> <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-user"></i> <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อร้านของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-shopping-cart"></i> <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-user"></i> <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อร้านของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-shopping-cart"></i> <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-user"></i> <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อร้านของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-shopping-cart"></i> <div class='mystate iamalway'></div><span>ออนไลน์แต่กำลังทำบางอย่าง</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-user"></i> <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อร้านของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-shopping-cart"></i> <div class='mystate iamonline'></div><span>ออนไลน์</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อและนามสกุลของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-user"></i> <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
	            <li>
		            <a href='#'>
			            <div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			            <div class='fordetail'>
				            <div class='hername'>ชื่อร้านของฉัน</div>
				            <div class='online-state'>
					            <i class="fa fa-shopping-cart"></i> <div class='mystate iamoffline'></div><span>ออฟไลน์ เมื่อ 4 นาทีที่แล้ว</span>
				            </div>
			            </div>
		            </a>
	            </li>
            </ul>
        </div>
    </li>
</ul>
<div class='searchtab' contenteditable="true" data-placeholder='ค้นหา'></div>        
</div>
<div class='minsearch'><i class="fa fa-search-plus"></i>
	<div class='labal'>2</div>
</div>

<!-- CHAT PANEL -->
<div class='chat-popup'>
	<header>
		<button  class='chat-popup-cc'><i class="fa fa-times"></i></button>
		<button  class='chat-popup-cc'><i class="fa fa-cog"></i></button>
		<button  class='chat-popup-cc'><i class="fa fa-user-plus"></i></button>
	</header>
	<div class='ichatwith'>
		<div class='inchat'>
			<div class='av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e273eff0d71dff138b4567_1668053170.jpg'></div>
			<div class='inchat-detail'>
				<div class='hername'><a href='#'>ชื่อร้าน หรือ ชื่อและนามสกุล ชื่อร้าน หรือ ชื่อและนามสกุล</a></div>
			</div>
		</div>
	</div>
	<div class='chatarea'>
		<!-- <div class='evt_res'>Notification of process</div> -->
		<div class='msgsc'>
			<div class='item-chat myfritnd'>
				<div class='chat_av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e27075f0d71daa0e8b4567_2091331663.jpg'></div>
				<div class='messages'>
					<div class='bubble'>
						<span>ทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ</span>
					</div>
				</div>
			</div>
			<div class='item-chat myfritnd'>
				<div class='chat_av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e27075f0d71daa0e8b4567_2091331663.jpg'></div>
				<div class='messages'>
					<div class='bubble'>
						<span>ทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ</span>
					</div>
				</div>
			</div>
			<div class='item-chat myfritnd'>
				<div class='chat_av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e27075f0d71daa0e8b4567_2091331663.jpg'></div>
				<div class='messages'>
					<div class='bubble'>
						<span>ทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ</span>
					</div>
				</div>
			</div>
			<div class='item-chat myfritnd'>
				<div class='chat_av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e27075f0d71daa0e8b4567_2091331663.jpg'></div>
				<div class='messages'>
					<div class='bubble'>
						<span>ทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ</span>
					</div>
				</div>
			</div>
			<div class='item-chat myfritnd'>
				<div class='chat_av'><img src='https://im.bazarn.com/90x90/uploads/avatar_56e27075f0d71daa0e8b4567_2091331663.jpg'></div>
				<div class='messages'>
					<div class='bubble'>
						<span>xxxทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ text messagesทดสอบ</span>
					</div>
				</div>
			</div>
			
			<div class='item-chat itsme'></div>
		</div>
	</div>
	<div class='chat_form'>
		<div class='chat_text_cv'>
			<div class='chat_text_input' ng-model="q" contenteditable="true" data-placeholder='พิมพ์ข้อความ...'></div>
		</div>
	</div> 
	<div class='chat_control'>
		<button class='box_ctrl'><i class="fa fa-camera-retro"></i></button>
		<button class='box_ctrl'><i class="fa fa-smile-o"></i></button>
		<button class='box_ctrl right'><i class="fa fa-heart"></i></button>
	</div> 
</div>
<div style="clear: both"></div></div><div class="popup-messages"></div></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   
 
       
        
    <script>
// 	    ctrl.$setViewValue(element.html());

	    angular.module('app', [])
		.controller('chat', function($scope,$http) {
			console.log($scope.q);
			$scope.title = 'FFFF';
/*
			$http({
			  method: 'POST',
			  data:{id:'56e25471f0d71df75d8b4567'},
			  url: '/chat/chatshop'
			}).then(function successCallback(response) {
	
				console.log(response)
				$scope.shop = response.data
				$.each(response.data, function( index, value ) {
					console.log( index + ": " + value );
				});
	
	
			}, function errorCallback(response) {
			    // called asynchronously if an error occurs
			    // or server returns response with an error status.
			});
*/
	
			$http({
			  method: 'POST',
			  data:{id:'56e25471f0d71df75d8b4567'},
			  url: '/chat/chatlist'
			}).then(function successCallback(response) {
				console.log(response)
				$scope.list = response.data
				$.each(response.data, function( index, value ) {
					console.log( index + ": " + value );
				});
	
	
			}, function errorCallback(response) {
			    // called asynchronously if an error occurs
			    // or server returns response with an error status.
			});
			
		});		 


/*

		angular.module('customControl', []).
		  directive('contenteditable', function() {
		    return {
		      restrict: 'A', // only activate on element attribute
		      require: '?ngModel', // get a hold of NgModelController
		      link: function(scope, element, attrs, ngModel) {
		        if(!ngModel) return; // do nothing if no ng-model
		
		        // Specify how UI should be updated
		        ngModel.$render = function() {
		          element.html(ngModel.$viewValue || '');
		        };
		
		        // Listen for change events to enable binding
		        element.on('blur keyup change', function() {
		          scope.$apply(read);
		        });
		        read(); // initialize
		
		        // Write data to the model
		        function read() {
		          var html = element.html();
		          // When we clear the content editable the browser leaves a <br> behind
		          // If strip-br attribute is provided then we strip this out
		          if( attrs.stripBr && html == '<br>' ) {
		            html = '';
		          }
		          ngModel.$setViewValue(html);
		        }
		      }
		    };
		  });
*/

				
		$(document).ready(function(){
		    $('.msgsc').scrollTop($('.msgsc')[0].scrollHeight);
	        console.log($('.msgsc').scrollTop());
	    });
	    
	   /*
 var height = 0;
			$('.chatarea .item-chat').each(function(i, value){
			    height += parseInt($(this).height());
			});
			
			height += '';
			
			$('.chatarea').animate({scrollTop: height});
*/
			 
	    $(document).on('click','.xtabs-min',function(e) {
			e.preventDefault();
			$('.chat-sidebar-sp').slideToggle(300);
			$('.minsearch').slideToggle(300);
		});
		$(document).on('click','.minsearch',function(e) {
			e.preventDefault();
			$('.chat-sidebar-sp').slideToggle(300);
			$('.minsearch').slideToggle(300);
		});
	    
	    
	    //$('.chat-sidebar-sp').draggable({ handle: 'header' });
        //this function can remove a array element.
        Array.remove = function(array, from, to) {
            var rest = array.slice((to || from) + 1 || array.length);
            array.length = from < 0 ? array.length + from : from;
            return array.push.apply(array, rest);
        };
    
        //this variable represents the total number of popups can be displayed according to the viewport width
        var total_popups = 0;
        
        //arrays of popups ids
        var popups = [];
    
        //this is used to close a popup
        function close_popup(id)
        {
            for(var iii = 0; iii < popups.length; iii++)
            {
                if(id == popups[iii])
                {
                    Array.remove(popups, iii);
                    
                    document.getElementById(id).style.display = "none";
                    
                    calculate_popups();
                    
                    return;
                }
            }   
        }
    
        //displays the popups. Displays based on the maximum number of popups that can be displayed on the current viewport width
        function display_popups()
        {
            var right = 220;
            
            var iii = 0;
            for(iii; iii < total_popups; iii++)
            {
                if(popups[iii] != undefined)
                {
                    var element = document.getElementById(popups[iii]);
                    element.style.right = right + "px";
                    right = right + 320;
                    element.style.display = "block";
                }
            }
            
            for(var jjj = iii; jjj < popups.length; jjj++)
            {
                var element = document.getElementById(popups[jjj]);
                element.style.display = "none";
            }
        }
        
        //creates markup for a new popup. Adds the id to popups array.
        function register_popup(id, name)
        {
            
            for(var iii = 0; iii < popups.length; iii++)
            {   
                //already registered. Bring it to front.
                if(id == popups[iii])
                {
                    Array.remove(popups, iii);
                
                    popups.unshift(id);
                    
                    calculate_popups();
                    
                    
                    return;
                }
            }               
            
            var element = '<div class="popup-box chat-popup" id="'+ id +'">';
            element = element + '<div class="popup-head">';
            element = element + '<div class="popup-head-left">'+ name +'</div>';
            element = element + '<div class="popup-head-right"><a href="javascript:close_popup(\''+ id +'\');">&#10005;</a></div>';
            element = element + '<div style="clear: both"></div></div><div class="popup-messages"></div></div>';
            
            document.getElementsByTagName("body")[0].innerHTML = document.getElementsByTagName("body")[0].innerHTML + element;  
    
            popups.unshift(id);
                    
            calculate_popups();
            
        }
        
        //calculate the total number of popups suitable and then populate the toatal_popups variable.
        function calculate_popups()
        {
            var width = window.innerWidth;
            if(width < 540)
            {
                total_popups = 0;
            }
            else
            {
                width = width - 200;
                //320 is width of a single popup box
                total_popups = parseInt(width/320);
            }
            
            display_popups();
            
        }
        
        //recalculate when window is loaded and also when window is resized.
        window.addEventListener("resize", calculate_popups);
        window.addEventListener("load", calculate_popups);
        
    </script>
  </body>
</html>