
<!DOCTYPE html>
<html lang="en" ng-app="app_chat">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Template</title>
     <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/page.css" rel="stylesheet">
    <link href="/stylesheets/chat.css" rel="stylesheet">
      <link href="/stylesheets/emojione.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="/stylesheets/dropzone.css" rel="stylesheet">

  </head>

  <body >
    <div ng-controller="chat" >

        <button ng-click="sendMail()">SendMail</button>
        <div ng-init="session_id = '<%= id%>'">
        <button ng-click="load()">Load</button>
          {{session_id}}
          {{xxx()}}
        Nav_notification:{{notification}}
        <ul>
          <li ng-repeat="n in listNotification" ng-click="checkRead(n.group_id)"><div dynamic="n.content"></div><span ng-if="!n.status_read">อ่านแล้ว</span></li>
        </ul>
        <div class="list" >
        <div ng-init = "message = []">
        <div ng-init = "findFriendG = []">
        <div ng-init = "message_check = []">
        <div ng-init = "friendFind = []">
        <div ng-init = "lastRead = []">
        <div ng-init="emo_icon = []">
				<div class='popup-box chat-popup pop{{c.gid}}' ng-repeat='c in data_chat track by $index' on-finish-render="ngRepeatFinished" id="{{c.gid}}" >

				<header data-gid="{{c.gid}}"></header>

        <div class='name_head poparea{{c.gid}}'><div class='name'>{{c.name}}</div>
          <button  class='chat-popup-xc autocloseid{{c.gid}}' ng-click="close_popup(c.gid)"><i class="fa fa-times"></i></button></div>
          <button  class='chat-popup-cc poparea{{c.gid}}' ng-click="close_popup(c.gid)"><i class="fa fa-times"></i></button>
					<button ng-if="c.type == 'g'"  class='chat-popup-cc poparea{{c.gid}} posrel dd_cog' data-gid="{{c.gid}}"><i class="fa fa-cog"></i>
            <!--  -->
					    <ul class='setting_list isopen_setting{{c.gid}}'>
						    <li><a href='javascript:void(0);' ng-click="addFriendToGroup(c.gid)" class='plus_friend'>เพิ่มเพื่อน</a></li>
						    <li ><a href='javascript:void(0);' ng-click="getSetting(c.gid)" class="show-group-setting">แก้ไขชื่อการสนทนา</a></li>
						    <li><a href='javascript:void(0);' ng-click="getFriend(c.gid)" class="show-friend-ingroup">แก้ไขผู้มีส่วนร่วม</a></li>
					    </ul>
					</button>
					<button ng-if="c.type == 'p'" class='chat-popup-cc poparea{{c.gid}} plus_friend' data-id="{{c.gid}}"><i class="fa fa-user-plus"></i></button>
					<div class='ichatwith poparea{{c.gid}}'>
						<div class='inchat'>
							<div class='av'><img ng-src='http://27.254.81.103:7001/90x90/{{c.picture}}'></div>
							<div class='inchat-detail poparea{{c.gid}}'>
								<div class='hername'><a href='#'>{{c.name}} </a>{{c.shop_text}}</div>
							</div>
						</div>
					</div>

					<div class='chatarea poparea{{c.gid}}'  >
            <div class='evt_res ' ng-if="message_check[c.gid]">Message Empty</div>
						<div class='find_frined findFriend{{c.gid}}'>
							<input type='text' class='input_friend'  ng-model="findFriendG[c.gid]" ng-keyup="findFriend(c.gid)"  placeholder="ค้นหาเพื่อน">
							<button  class='chat-popup-cp close_find_friend' data-id="{{c.gid}}" ><i class="fa fa-times"></i></button>

							<ul class='myfriendlist friendlist{{c.gid}}'>
								<li ng-repeat="friend in friendFind[c.gid] | filter:findFriendG[c.gid] track by $index " ><a href='#' ng-click="addGroup(c.id,friend._id)"><img ng-src='http://27.254.81.103:7001/90x90/{{friend.picture}}'><div class='span'>{{friend.name}}</div></a></li>
							</ul>
						</div>

						<div class='msgsc boxchat{{c.gid}}' >
							<div  ng-repeat="mes in c.chat  track by $index " on-finish-render="ngRepeatFinished">

								<div ng-if="mes.post_type == 'text' ">
									<div class='item-chat myfriend ' ng-if="checkMesFriend(mes.user_id)">
											<div class='chat_av' ng-if="c.status == 'shop'"><img ng-src='http://27.254.81.103:7001/90x90/{{c.picture}}'></div>
                      <div class='chat_av' ng-if="c.status == 'user'"><img ng-src='http://27.254.81.103:7001/90x90/{{mes.picture}}'></div>
											<div class='messages'>
												<div class='bubble'>
													<div ng-if="mes.attr">
														<div class='sendlink'>
															<a href='{{mes.attr.url}}' target='_blank'>{{mes.attr.url}}</a>
														</div>
													</div>
													<span dynamic="urlify(mes.content)"></span>
												</div>
                        <!-- {{mes.post_time * 1000 | timeAgo}} -->

												<div class='msg_date' ><span dynamic="getTimeAgo(mes.post_time)"></div>
												<!-- <div class='msg_is_read'><i class="fa fa-check"></i>เหม่ง,ลิงกัง,เค็มจังโฮ <span>อ่านแล้ว</span></div> -->
											</div>
									</div>
                  <div class='item-chat itsme' ng-if="checkMesMe(mes.user_id)">
										<div class='messages'>
											<div class='bubble'>
												<div ng-if="mes.attr">
													<div class='sendlink'>
														<a href='{{mes.attr.url}}' target='_blank'>{{mes.attr.url}}</a>
													</div>
												</div>
												<span dynamic="urlify(mes.content)"></span>
											</div>
											<div class='msg_date'><span dynamic="getTimeAgo(mes.post_time)"></div>
                      <div class='msg_is_read' ng-if="$last"><span dynamic="lastRead[c.gid]"> </div>
										</div>
									</div>
								</div>
								<div ng-if="mes.post_type == 'image'">
									<div class='item-chat myfriend' ng-if="checkMesFriend(mes.user_id)">
                    <div class='chat_av' ng-if="c.status == 'shop'"><img ng-src='http://27.254.81.103:7001/90x90/{{c.picture}}'></div>
                    <div class='chat_av' ng-if="c.status == 'user'"><img ng-src='http://27.254.81.103:7001/90x90/{{mes.picture}}'></div>
										<div class='messages gal'>
											<div class='img-chat' ng-repeat="pc in mes.content track by $index" >
													<div class='img'>
													<a href='{{site}}/uploads/{{pc}}'>
														<img ng-src='{{site}}/uploads/{{pc}}'>
													</a>
												</div>
											</div>
											<div class='msg_date'><span dynamic="getTimeAgo(mes.post_time)"></div>
											<!-- <div class='msg_is_read'><i class="fa fa-check"></i>เหม่ง,ลิงกัง,เค็มจังโฮ <span>อ่านแล้ว</span></div> -->
										</div>
									</div>
									<div class='item-chat itsme' ng-if="checkMesMe(mes.user_id)">
										<div class='messages gal'>
											<div class='img-chat' ng-repeat="pc in mes.content track by $index" >
												<div class='img'>
													<a href='{{site}}/uploads/{{pc}}'>
														<img ng-src='{{site}}/uploads/{{pc}}'>
													</a>
												</div>
											</div>
                      <!-- <span dynamic="getTimeAgo(mes.post_time)"> -->
											<div class='msg_date'><span dynamic="getTimeAgo(mes.post_time)"></div>
											<div class='msg_is_read' ng-if="$last"><span dynamic="lastRead[c.gid]"> </div>
										</div>
									</div>
								</div>
							</div>
            </div>

					</div>

					<div class='chat_form poparea{{c.gid}}'>

						<div class='chat_text_cv'>
              <!-- <div class='chat_text_input'  contenteditable="true" ng-model="message" data-placeholder='พิมพ์ข้อความ...'></div> -->
                  <div class="loadMessage{{c.gid}}"></div>

                  <!-- <div class='chat_text_input' contenteditable="true" ng-model="message[c.id]"  ng-paste="pasteHtml($event,c.gid)" enter-submit="sendChatMessage(c.gid,c.id)"  data-placeholder='พิมพ์ข้อความ...'></div> -->

                <div class='chat_text_input '  contenteditable="true" ng-model="message[c.gid]" safe-paste  ng-keyup="focusInput(c.gid)" ng-focus="checkRead(c.gid)"  enter-submit="sendChatMessage(c.gid,c.id)"  id="message{{c.gid}}"  data-placeholder='พิมพ์ข้อความ...' ></div>

            </div>
					</div>

					<div class='chat_control poparea{{c.gid}}'>
						<button class='box_ctrl upphoto' ng-click="sendChatPhoto(c.gid,c.id,c.shop_id)"><i class="fa fa-camera-retro"></i></button>
<!--
						<div class='dropup_emo'>
						<div class='box_ctrl emoj dropup-opener  container{{c.gid}}' data-target='message{{c.gid}}' data-gid="{{c.gid}}" >
			                <i class="fa fa-smile-o"></i>
							<div ng-include="'/chat/emo'"></div>
			      		</div>

							<div class="emo-menu emo_arr">
								<div class='inner_gray'>อารมณ์ <a href="#" class="emo-menu_close" role="button" title="Close">&times;</a></div>
							</div>
						</div>
-->
						<div class='dropup_emo'>
						    <button class='box_ctrl emoj{{c.gid}} dropup-opener_emo-menu '  data-gid='{{c.gid}}'><i class="fa fa-smile-o"></i></button>
                <div ng-include src="'/chat/emo'" ></div>

							<!-- <div class=' boxchatx{{c.gid}} emo-menu emo_arr'>
								<ul class='emo_title nav-tabs inner_gray'>
									<span>อารมณ์<i class='icon-angle-right'></i></span>
									<li class='active'><a href="#moreused{{c.gid}}" aria-controls="moreused" role="tab" data-toggle="tab">ที่ใช้บ่อย</a></li>
									<li><a href="#emojicon{{c.gid}}"  class="pre_emo" data-gid="{{c.gid}}" aria-controls="emojicon" role="tab" data-toggle="tab">สัญลักษณ์</a></li>
									<li><a href="#emo_sticker{{c.gid}}" aria-controls="emo_sticker" role="tab" data-toggle="tab">สติ๊กเกอร์</a></li>
									<a href="#" class="emo-menu_close" role="button" data-gid="{{c.gid}}" title="Close">&times;</a>
								</ul>
								<div class='response_emo tab-content'>
									<div id='moreused{{c.gid}}' class='tab-pane active' role="tabpanel">
									     <ul id='read_moreusedcm{{c.gid}}' class='emoticons' style='font-size:16px;'></ul>
									</div>
									<div id="emojicon{{c.gid}}" class='tab-pane' role="tabpanel">
										<div class='repo'>
										    <ul class='xrepo repo_jsoncm{{c.gid}}' style='font-size:16px;'></ul>
										</div>

										<div class='emo_menu'>
											<ul id="category-filters" class="category-filters {{c.gid}}" data-active='people'>
							                <li><a id="filter-people" data-category="people" data-act='{{c.gid}}' href="#" class="active" title="People"><i class="icon-people"></i></a></li>
							                <li><a id="filter-nature" data-category="nature" data-act='{{c.gid}}' href="#" title="Nature"><i class="icon-nature"></i></a></li>
							                <li><a id="filter-food_drink" data-category="foods" data-act='{{c.gid}}' href="#" title="Food and drink"><i class="icon-food"></i></a></li>
							                <li><a id="filter-celebration" data-category="objects" data-act='{{c.gid}}' href="#" title="Celebration"><i class="icon-celebration"></i></a></li>
							                <li><a id="filter-activity" data-category="activity" data-act='{{c.gid}}' href="#" title="Activity"><i class="icon-activity"></i></a></li>
							                <li><a id="filter-travel_places" data-category="travel" data-act='{{c.gid}}' href="#" title="Travel and places"><i class="icon-travel"></i></a></li>
							                <li><a id="filter-flags" data-category="flags" href="#" data-act='{{c.gid}}' title="Flags"><i class="icon-flags"></i></a></li>
							                <li><a id="filter-objects_symbols" data-category="symbols" data-act='{{c.gid}}' href="#" title="Objects and symbols"><i class="icon-objects"></i></a></li>
							        </ul>
										</div>
									</div>
									<div id='emo_sticker{{c.gid}}' class='tab-pane' role="tabpanel">emo_sticker</div>
								</div>
							</div> -->

						</div>
						<div class='dropup_stk'>
							<button class='box_ctrl right stk dropup-opener_ddx'><i class="fa fa-heart"></i></button>
							<ul class="ddx-menu menu_arr">
								<li><a href="#">B</a></li>
					            <li><a href="#">S</a></li>
					            <li><a href="#">S</a></li>
					            <li><a href="#">C</a></li>
					            <li><a href="#">E</a></li>
					            <li><a href="#">B</a></li>
					            <li><a href="#">U</a></li>
					            <li><a href="#">R</a></li>
					            <li><a href="#">U</a></li>
					        </ul>
						</div>
					</div>

					</div>
      </div>

	  <ul>
		  <li>mini session chat ......... DONE</li>
		  <li>add friend will be create new group | auto complete their friend ......... DONE</li>
		  <li>chat setting dropdown ......... DONE</li>
		  <li>close widget | clear session chat ......... DONE</li>
		  <li>Modal view photo ......... DONE</li>
		  <li>upload photo process ......... DONE</li>
		  <li>Emoticon ......... DONE</li>
		  <li>Quick Emoticon ......... DONE</li>
	  </ul>
    {{testx}}
    <input type="text" ng-model="testx" id="message1571894f63489acb305dca5b0">
	    <div class="chat-sidebar">
            <div class="sidebar-name" ng-repeat="f in list track by $index">
                <!-- Pass username and display name to register popup -->
                <a href="javascript:void(0)" ng-click="register_popup(f.gid,f._id,f.name,f.picture,'p')">
                    <img width="30" height="30" ng-src="http://27.254.81.103:7001/45x45/{{f.picture}}" />
                    <span>{{f.name}}</span>
                </a>
            </div>
        </div>
<div class='chat-sidebar-sp' id='chat-sidebar-sp'>
	<button  class='xtabs-min'>&ndash;</button>
<ul class="xtabs" ng-init="statusFilter='user'">
  <li ng-init="list = []">
        <input type="radio" name="tabs" id="tab1" ng-model="statusFilter" value="user"  checked />
        <label for="tab1">เพื่อน</label>
        <div id="tab-content1" class="tab-content">
            <ul class='thisismyfriend'>
	            <li  ng-repeat='n in list | filter:user track by $index'>
                <a href='#' class="autoclickid{{n.gid}}" ng-click="register_popup(n.gid,n._id,n.name,n.picture,'p')">
			            <div class='av'><img ng-src='http://27.254.81.103:7001/90x90/{{n.picture}}'></div>
			            <div class='fordetail'>
                    <div class='hername'>{{n.name}}</div>
				            <div class='online-state'>
                    <div dynamic="n.online"></div>
                    <div ng-if="!n.status_friend">  เพิ่มเพื่อน </div>
                  </div>
			            </div>
		            </a>
	            </li>
            </ul>
        </div>
    </li>
       <li>

        <input type="radio" name="tabs" id="tab2" ng-model="statusFilter" value="group" />
        <label for="tab2">กลุ่ม</label>
        <div id="tab-content2" class="tab-content">
            <ul class='thisismygroup'>
	            <li ng-repeat='g in list_group | filter:group track by $index'>
               <a href='#' class="autoclickid{{g.groupid}}" ng-click="register_popup(g.groupid,'',g.name_group,g.picture,'g')">
			            <div class='av'><img ng-src='{{g.picture}}'></div>
			            <div class='fordetail'>

				            <div class='hername'>{{g.name_group}}</div>
				            <div class='whois_ingroup' >
					            <img ng-repeat='m in g.user | limitTo:5 track by $index' ng-src='http://27.254.81.103:7001/90x90/{{m.picture}}'>
					            <span>{{check_num(g.user.length)}}</span>
				            </div>
			            </div>
		            </a>
	            </li>

            </ul>
        </div>
    </li>
    <li>
        <input type="radio" name="tabs" id="tab3" ng-model="statusFilter" value="activity"/>
        <label for="tab3">มีกิจกรรมร่วมกัน</label>
        <div id="tab-content3" class="tab-content">
            <ul class='thisismyfriend'>
	            <li ng-repeat="a in activities | filter:activity track by $index">

                <a href='#' class="autoclickid{{a.gid}}" ng-click="register_popup(a.gid,a._id,a.name,a.picture,'p',a.status,a.shop_name,a.shop_id)">
			            <div class='av'><img ng-src='http://27.254.81.103:7001/90x90/{{a.picture}}'></div>
			            <div class='fordetail'>

                    <div class='hername'>{{a.name}}</div>
				            <div class='online-state'>
					            <div ng-if="a.status == 'user'"><i class="fa fa-user"></i></div>
                      <div ng-if="a.status == 'shop'"><i class="fa fa-shopping-cart"></i></div>
                      ร้าน:{{a.shop_name}}<div dynamic="a.online"></div>
				            </div>
			            </div>
		            </a>
	            </li>

            </ul>
        </div>
    </li>
</ul>

<div ng-if="statusFilter == 'user'" class='searchtab' ng-model="$parent.user" contenteditable="true" data-placeholder='ค้นหา'></div>
<div ng-if="statusFilter == 'group'" class='searchtab' ng-model="$parent.group" contenteditable="true" data-placeholder='ค้นหา'></div>
<div ng-if="statusFilter == 'activity'" class='searchtab' ng-model="$parent.activity" contenteditable="true" data-placeholder='ค้นหา'></div>
</div>
<div class='minsearch'><i class="fa fa-search-plus"></i>
	<div class='labal'>2</div>
</div>

<div my-directive></div>



<div style="clear: both"></div></div><div class="popup-messages"></div></div>

<button ng-click="addGroup()">test</button>
<div class="overlay">
    <div class="bzn_dialog" style="min-height: 90px;">
	    <div class='preload'></div>
        <div class="fade">

        </div>
    </div>
</div>

  </div>
  </body>
</html>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->







 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
 <script src="/js/jquery.magnific-popup.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.js"></script> -->
<!--    <script src="/js/ngtimeago.js"></script>  -->
<script src="/js/moment.js"></script>
<script src="/js/livestamp.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-contenteditable.js"></script>
<script src="/js/dropzone.js"></script>

<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/emojione.min.js"></script>
<script src="/js/bz.min.js"></script>
 <!-- <script src="/js/dropzone.js"></script> -->
<!-- <script src="/js/dropzone.js"></script> -->


    <script>

    // $(document).ready(function(){$('.msgsc').scrollTop($('.msgsc')[0].scrollHeight);});
	   // .dropup
			$(document).on('click', '.dropup-opener_ddx', function(e) {
			    e.preventDefault();
			    var id = $(this).data('gid');
			    	$menu = $(this).siblings('.ddx-menu');
				    if ($menu.hasClass('is-openx')) {
				      $menu.removeClass('is-openx');
				      $('.stk').html('<i class="fa fa-heart"></i>');
				    } else {
				      $menu.addClass('is-openx');
				      $('.stk').html('<i class="fa fa-times"></i>');
				    }
			});
			$(document).on('click', '.dropup-opener_emo-menu', function(e) {

			    e.preventDefault();
			    var id = $(this).data('gid');
			    	$menu = $(this).siblings('.boxchatx'+id);
            console.log($menu);
				    if ($('.boxchatx'+id).hasClass('is-openx')) {
              console.log('1')
				      $menu.removeClass('is-openx');
				      $('.emoj'+id).html('<i class="fa fa-smile-o"></i>');
              $('.boxchatx'+id).removeClass('is-openx');
				    } else {
              console.log('2')
				      $menu.addClass('is-openx');
              $('.boxchatx'+id).addClass('is-openx');
              console.log($menu)
				      $('.emoj'+id).html('<i class="fa fa-times"></i>');
				    }
			});
			$(document).on('click', '.emo-menu_close', function(e) {
        console.log('123123');
				e.preventDefault();
        var id = $(this).data('gid');
				if ($('.boxchatx'+id).hasClass('is-openx')) {
				      $('.boxchatx'+id).removeClass('is-openx');
				      $('.emoj'+id).html('<i class="fa fa-smile-o"></i>');
				} //else {
				//       $('.boxchatx'+id).addClass('is-openx');
				//       $('.emoj'+id).html('<i class="fa fa-times"></i>');
				// }
			});

			$('.emo_title li a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show');
			});

			$(document).on('click','.dropup-opener',function(){
		    var id = $(this).data('gid')
        var read_used = id;
		    var my_emoInfo = JSON.parse(localStorage.getItem('my_emoInfo'));
			if(my_emoInfo !=null){
				var check_emo = document.getElementById('read_moreusedcm'+read_used).innerHTML;
				if(check_emo.length > 0){
					var input = document.getElementById('read_moreusedcm'+read_used).innerHTML;
					var output = emojione.shortnameToImage(input);
					document.getElementById('read_moreusedcm'+read_used).innerHTML = output;
				}else{
					for(var k in my_emoInfo) {
				        $('#read_moreusedcm'+read_used).append("<li class='emo_list' data-target='"+read_used+"'>"+my_emoInfo[k].myEmo+"</li>");
					}
			        var input = document.getElementById('read_moreusedcm'+read_used).innerHTML;
					var output = emojione.shortnameToImage(input);
					document.getElementById('read_moreusedcm'+read_used).innerHTML = output;
				}
			}else{
				$('#read_moreusedcm'+read_used).append("<li class='emo_list text-center' style='width:100%; padding:30px 0;'>คุณยังไม่เคยใช้ icon สื่ออารมณ์</li>");
			}
		});

		$(document).on('click','.pre_emo',function(){

			//var id = $(this).data('set');
      var id = $(this).data('gid');
      //var id = 'chat_with_me';
			var active = $('.emo_menu .'+id).data('active');
    //  var active = $('.emo_menu').data('active');
      console.log(active);
      var check_stemo = $('.repo_jsoncm'+id).html()
			//var check_stemo = document.getElementById('repo_jsoncm'+id).innerHTML;
			if(check_stemo.length > 0){
				convert();
			}else{
				var jqxhr = $.getJSON("/js/emoji.json", function() {
					var group = jqxhr.responseJSON;

					for(var k in group) {
					   if(group[k].category == active){
						   $('.repo_jsoncm'+id).append("<li class='emo_list' data-target='"+id+"'>"+group[k].shortname+"</li>");
					   }
					}
					convert();
				});
			}

			function convert() {
			    var input = $('.repo_jsoncm'+id).html()
			    var output = emojione.shortnameToImage(input);
			    $('.repo_jsoncm'+id).html(output)
			}
		});

	$(document).on('click','.category-filters li a',function(){
		  var filter = $(this).data('category');
		  var act = $(this).data('act');
		  $(this).removeClass('active');
		  $('.repo_jsoncm'+act).empty();

	    var jqxhr = $.getJSON( "/js/emoji.json", function() {
			var group = jqxhr.responseJSON;

			for(var k in group) {
			   if(group[k].category == filter){
				   $('.repo_jsoncm'+act).append("<li class='emo_list' data-target='"+act+"'>"+group[k].shortname+"</li>");
			   }
			}
			convert();
	    });
		function convert() {
		    //var input = document.getElementsByClassName('repo_jsoncm'+act).innerHTML;
        var input = $('.repo_jsoncm'+act).html();
		    var output = emojione.shortnameToImage(input);
        $('.repo_jsoncm'+act).html(output);
		    //document.getElementsByClassName('repo_jsoncm'+act).innerHTML = output;
		}
	});

	$(document).on('click','.emoticonscm li',function() {
	    var smiley = $(this).find('img').attr('title');
	    var target = $(this).data('target');
      console.log(smiley);

	    $("#message"+target).append(smiley);

	    var original = $("#message"+target).html();
	    var converted = emojione.shortnameToImage(original);

	    $("#message"+target).html(converted);
      $("#message1"+target).val('123');
      console.log($("#message1"+target).val())
	     var emo_data = JSON.parse(localStorage.getItem('my_emoInfo'));
			if(emo_data == null){
				add_emo(smiley);
			}
			else if(emo_data.length < 16){

				add_emo(smiley);
			}else{
				emo_data.shift();
				localStorage.removeItem('my_emoInfo');
				add_new_emo(emo_data);
				add_emo(smiley);
			}

      //$("#message"+target).change();
      $("#message"+target).change();
	    setCursor(converted, converted.length);
	});


	function setCursor(elem, pos) {
	    if (elem.setSelectionRange) {
	      elem.focus();
	      elem.setSelectionRange(pos, pos);
	    } else if (elem.createTextRange) {
	      var range = elem.createTextRange();
	      range.collapse(true);
	      range.moveEnd('character', pos);
	      range.moveStart('character', pos);
	      range.select();
	    }
	}

	function get_detail(){
		var ge = $('#editor').html();
		$('#detail2').val(ge);
	};

    function cm_detail(req){
	    var val = $('#'+req).html();
        $('#comment_'+req).val(val);
    }

    function subcm_detail(req){
	    var val = $('#'+req).html();
        $('#subcomment_'+req).val(val);
    }

    function SaveDataToLocalStorage(new_emo){
		var emoji_bz =[];
			emoji_bz = JSON.parse(localStorage.getItem('my_emoInfo') || []);
			emoji_bz.push({myEmo:new_emo});
			localStorage.setItem('my_emoInfo', JSON.stringify(emoji_bz));
		}

    function add_emo(new_emo){

		var status = 0;
			var check_str = localStorage.getItem('my_emoInfo');
			var emo_data = JSON.parse(localStorage.getItem('my_emoInfo'));
			if(check_str != null){
				for(var u in emo_data) {

					if(new_emo == emo_data[u].myEmo){
						status = 1;
					}
				}
				if(status == 0){
					SaveDataToLocalStorage(new_emo);
				}

/*
				function SaveDataToLocalStorage(new_emo){

					var emoji_bz =[];
					    emoji_bz = JSON.parse(localStorage.getItem('my_emoInfo') || []);
					    emoji_bz.push({myEmo:new_emo});
					    localStorage.setItem('my_emoInfo', JSON.stringify(emoji_bz));
				}
*/


			}else{
				var emoji_bz = [];
				emoji_bz.push({myEmo:new_emo});
				localStorage.setItem('my_emoInfo', JSON.stringify(emoji_bz));
			}
	};
	function add_new_emo(data){
		localStorage.setItem('my_emoInfo', JSON.stringify(data));
	}

			// $(document).on('click','.show-friend-ingroup',function() {
      //
			// 	$('.fade').load('/chat/showFriend',function(result){
      //
			// 		$(".overlay, .bzn_dialog").css("opacity", 1);
			// 		$(".overlay").show();
      //
			// 		var mdheight = $(".fade").height(); console.log(mdheight);
			// 		$(".overlay, .bzn_dialog").css("opacity", 0);
			// 		/*Remove inline styles*/
			// 		$(".overlay, .bzn_dialog").removeAttr("style");
      //
			// 		/*Set min height to 90px after mdheight has been set*/
			// 		$(".bzn_dialog").css("min-height", "90px");
			// 		$(".overlay").show();
      //
			// 		$(".bzn_dialog > .preload").html("<img src='/images/loading.gif' class='loader'> ");
      //
			// 		$(".bzn_dialog").css("width", "200").animate({"opacity" : 1,height : mdheight,width : "320"}, 600, function() {
			// 		/*When animation is done show inside content*/
      //
			// 			$(".preload").empty();
			// 		    $(".fade").show();
			// 		});
			// 	});
			// });

			// $(document).on('click','.show-group-setting',function() {
      //
			// 	$('.fade').load('/chat/setting',function(result){
      //
			// 		$(".overlay, .bzn_dialog").css("opacity", 1);
			// 		$(".overlay").show();
      //
			// 		var mdheight = $(".fade").height(); console.log(mdheight);
			// 		$(".overlay, .bzn_dialog").css("opacity", 0);
			// 		/*Remove inline styles*/
			// 		$(".overlay, .bzn_dialog").removeAttr("style");
      //
			// 		/*Set min height to 90px after mdheight has been set*/
			// 		$(".bzn_dialog").css("min-height", "90px");
			// 		$(".overlay").show();
      //
			// 		$(".bzn_dialog > .preload").html("<img src='./assets/images/loading.gif' class='loader'> ");
      //
			// 		$(".bzn_dialog").css("width", "200").animate({"opacity" : 1,height : mdheight,width : "320"}, 600, function() {
			// 		/*When animation is done show inside content*/
      //
			// 			$(".preload").empty();
			// 		    $(".fade").show();
			// 		});
			// 	});
			// });

			// $(document).on('click','.upphoto',function() {
      //
			// 	$('.fade').load('/chat/uploads',function(result){
      //
			// 		$(".overlay, .bzn_dialog").css("opacity", 1);
			// 		$(".overlay").show();
      //
			// 		var mdheight = $(".fade").height(); console.log(mdheight);
			// 		$(".overlay, .bzn_dialog").css("opacity", 0);
			// 		/*Remove inline styles*/
			// 		$(".overlay, .bzn_dialog").removeAttr("style");
      //
			// 		/*Set min height to 90px after mdheight has been set*/
			// 		$(".bzn_dialog").css("min-height", "90px");
			// 		$(".overlay").show();
      //
			// 		$(".bzn_dialog > .preload").html("<img src='/images/loading.gif' class='loader'> ");
      //
			// 		$(".bzn_dialog").css("width", "200").animate({"opacity" : 1,height : mdheight,width : "590"}, 600, function() {
			// 		/*When animation is done show inside content*/
      //
			// 			$(".preload").empty();
			// 		    $(".fade").show();
			// 		    //$("#dropzonex").dropzone({ url: "/uploadChat",method:'post',uploadMultiple:true,maxFilesize:5,maxFiles: 12,paramName:'file',autoProcessQueue: true});
      //           $("#dropzonex").dropzone({
      //             url: site+"/chat/uploadChat",
      //             params: { user_id: session_id,gid:nowGid },
      //             maxFiles: 12,
      //
      //             accept: function(file, done) {
      //               console.log(file);
      //               done();
      //             }
      //           });
			// 		});
			// 	});
			// });

			/*Close dialog*/
			$(document).on('click',".dialog_close",function() {
				$(".overlay, .bzn_dialog, .fade").fadeOut("slow", function() {
					/*Remove inline styles*/
					$(".overlay, .bzn_dialog").removeAttr("style");
					$(".bzn_dialog").css("min-height", "90px");
				});
			});


	    /**************************/
	    $(document).ready(function(){
			$('.gal').each(function() {
				$(this).magnificPopup({
				    delegate: 'a',
				    type: 'image',
				    gallery:{enabled:true}
				});
			});



	        $(document).on('click','.dd_cog', function(){
            var gid = $(this).data('gid');

		        $('.isopen_setting'+gid).slideToggle('fast');
	        });
	        $(".setting_list > li > a").click(function () {
		        //Toggle the child but don't include them in the hide selector using .not()
		        $('.dd_cog > .setting_list').not($(this).children(".setting_list").slideToggle('fast'));

		    });

	    });

	  //  $(document).on('keyup','.input_friend', function(){
		//    var text = $('.input_friend').val();
		//    if(text.length > 0){
		// 	   $('.myfriendlist').css('display','block');
		//    }else{
		// 	   $('.myfriendlist').css('display','none');
		//    }
	  //  });
	   $(document).on('click','.plus_friend', function(){
       var id = $(this).data('id');
       //console.log(id);
		   $('.findFriend'+id).slideToggle('fast');
	   });
	   $(document).on('click','.close_find_friend', function(){
       var id = $(this).data('id');
		   $('.findFriend'+id).slideToggle('fast');
	   });

	   $(document).on('click','.close_this_popup', function(){
		   $('.chat-popup').slideToggle('fast');
	   });



	    $(document).on('click','.chat-popup header',function(e) {
      var gid = $(this).data('gid');
			e.preventDefault();
			var chat_popup = $('.pop'+gid);

			if (chat_popup.hasClass('hide')) {
                chat_popup.removeClass('hide');
	                $('.chatarea.poparea'+gid).slideToggle(300);
					$('.chat_form.poparea'+gid).css('display','block');
					$('.chat_control.poparea'+gid).slideToggle(300);
					$('.chat-popup-cc.poparea'+gid).slideToggle(300);
					$('.inchat-detail.poparea'+gid).slideToggle(300);
					$('.ichatwith.poparea'+gid).slideToggle(300);
					$('.name_head.poparea'+gid).css('display','none');
					$('.pop'+gid).css('width','320px');
					$(this).css('cursor','s-resize');
		    } else {
		        chat_popup.addClass('hide');
		            $('.chatarea.poparea'+gid).slideToggle('fast');
					$('.chat_form.poparea'+gid).css('display','none');
					$('.chat_control.poparea'+gid).slideToggle('fast');
					$('.chat-popup-cc.poparea'+gid).slideToggle('fast');
					$('.inchat-detail.poparea'+gid).slideToggle('fast');
					$('.ichatwith.poparea'+gid).slideToggle(300);
					$('.name_head.poparea'+gid).css('display','block');
					$('.pop'+gid).css({'width':'140px'});
					$(this).css('cursor','n-resize');
		    }

		});

	    $(document).on('click','.xtabs-min',function(e) {
			e.preventDefault();
			$('.chat-sidebar-sp').slideToggle(300);
			$('.minsearch').slideToggle(300);
		});
		$(document).on('click','.minsearch',function(e) {
			e.preventDefault();
			$('.chat-sidebar-sp').slideToggle(300);
			$('.minsearch').slideToggle(300);
		});

    // $(function () {
		//     $(".stay").click(function (e) {
    //       console.log('xxxx');
		//         //$(".bzn_dialog").hide();
		//         $(this).find(".bzn_dialog").toggle();
		//         var container = $(".stay");
		// 	    if(container.has(e.target).length === 0){
		// 		    e.preventDefault();
		// 	    }
		//     });
		// });
    // $(document).click(function (e) {
    //     var container = $(".bzn_dialog > a");
    //     if (!container.is(e.target) && container.has(e.target).length === 0) {
    //         $(".bzn_dialog").hide();
    //     }
    // });

        //recalculate when window is loaded and also when window is resized.


    </script>
