
<div class="inner_gray clearfix">
	<div class="inner_gray_text">
	    ส่งรูปภาพ11
	</div>
	<div class="inner_gray_close_button">
	    <a href="#" class="dialog_close" role="button" title="Close">&times;</a>
	</div>
</div>
<div class="inner_body" >
    <div class="inner_body_content p12">

	    <form method="post"  enctype="multipart/form-data"   class="dropzone" id="dropzonex" >
		    <div class="fallback">

		      <input name="file" type="file" multiple />
		    </div>
				<input type="submit" value="xxx">
		</form>
    </div>
</div>
