/*
chat-sidebar  แบ่งเป็นเซต  มี 3 เซต คือ
1.เพื่อน
2.กรุ๊ปแชท
3.กิจกรรมร่วมกัน ร้าน - ยูสเซอร์ ที่ทำการติดต่อซื้อขายกันอยู่

view port width > 1280  use widget
view port width > 1281  > 1366  use fixed right width 70px
view port width > 1366  use fixed right width 160px
	
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.chat-sidebar{
        width: 180px;
        position: fixed;
        height: 100%;
        right: 0px;
        top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid rgba(29, 49, 91, .3);
    }
.sidebar-name{
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 4px;
        font-size: 12px;
    }
.sidebar-name span{
        padding-left: 5px;
    }
.sidebar-name a{
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }
.sidebar-name:hover{
        background-color:#e1e2e5;
    }
.sidebar-name img{
        width: 32px;
        height: 32px;
        vertical-align:middle;
        -webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
    }

@media only screen and (min-width : 1367px) {
	.chat-sidebar{
        width: 158px;
        position: fixed;
        height: 100%;
        right: 0px;
        top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid rgba(29, 49, 91, .3);
        background:#fff;
    }
}

.chat-sidebar-sp{
        width: 320px;
        position: fixed;
        height: 450px;
        right: 0px;
        bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border:0;
        background:#C41200;
        border-radius: 3px 3px 0 0;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    }
/*
.chat-sidebar-sp header {
  background: transparent;
  height:40px; top:0; left:0; position:absolute; width:100%;
  color: #ffffff;
  font-size: 14px;
  cursor: move;
}
.chat-sidebar-sp header:before,
.chat-sidebar-sp header:after {
  display: block;
  content: '';
  clear: both;
}
*/
button.xtabs-min{position:absolute; top:10px; right:10px; background:rgba(0,0,0,0.1); vertical-align: middle; border:0;}
button.xtabs-min:hover{background:rgba(0,0,0,0.3);}
button.xtabs-min:focus{outline: none;}
.minsearch{
    border:0; width:45px;
    background:#C41200;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    position: fixed;bottom:0; right:20px;
    text-align: center; padding:10px 15px; color:#fff;
    cursor: pointer;
    display:none;
}
.minsearch .labal{background:#000; position:absolute; bottom:45px; right:0px; font-size:12px; text-align: center; padding:5px 10px; color:#fff; border-radius: 15px 15px;}
.minsearch .labal:empty{display:none;}
.xtabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
  margin:0px; padding:0px;
  margin-top:10px;
}
.xtabs li {
  float: left;
  display: block;
}
.xtabs li:first-child{padding-left:10px;}
.xtabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.xtabs label {
  display: block;
  padding: 5px 14px 7px 14px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  line-height:20px;
  font-weight: normal;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color:#fff;
}
.xtabs label:hover {
  background: rgba(0,0,0,0.3);
  color:#fff;
}
.xtabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  max-width:320px;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 0;
  background: #fff;
  height:376px;
  overflow-y: scroll;
}
.xtabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 10px;
  background: #ffffff;
  color:#000;
}
.xtabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.searchtab{background:#fff; border-top:1px solid #ddd; color:#444; font-size:13px; padding:4px 10px 4px 10px; height:34px; position: absolute; bottom:0; left:0;  width: 100%; display:block;}
.searchtab:focus{outline: none;}

[contentEditable=true]:empty:not(:focus):before{content:attr(data-placeholder);color:#ddd;}

.xtabs .tab-content .thisismyfriend{margin:0px;padding:0px; list-style: none; position:relative;}
.xtabs .tab-content .thisismyfriend li{border-top:1px solid #eee; border-right:1px solid #eee; display:block; padding:0px; margin:0px;}
.xtabs .tab-content .thisismyfriend li:first-child{border-top:0;}
.xtabs .tab-content .thisismyfriend li::after{content:''; display:table; clear:both;}
.xtabs .tab-content .thisismyfriend li a{display:block; background:transparent; padding:10px;}
.xtabs .tab-content .thisismyfriend li::after,.thisismyfriend li a::after{content:''; display:table; clear:both;}
.xtabs .tab-content .thisismyfriend li a:hover{background:#f7f7f7;}
.xtabs .tab-content .thisismyfriend li a .av{width:40px; height: 40px; float:left; margin-right:10px;}
.xtabs .tab-content .thisismyfriend li a .av img{width:100%;display:block; border-radius: 3px 3px;}
.xtabs .tab-content .thisismyfriend li a .fordetail{width:230px; float:left; min-height:40px; position:relative;}
.xtabs .tab-content .thisismyfriend li a .fordetail .hername{font-size:14px; color:#444;width:95%;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state{height:20px; vertical-align: middle;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state span{margin-left:5px; color:#777; float:left; font-style: italic;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state i{margin-right:5px; color:#777; float:left; margin-top:5px;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state .mystate{width:10px; height:10px; margin-top:5px; border-radius: 5px 5px; background:#ccc; float:left;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state .mystate.iamoffline{background:#ccc;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state .mystate.iamonline{background:#06cf13;}
.xtabs .tab-content .thisismyfriend li a .fordetail .online-state .mystate.iamalway{background:#f4d10a;}



.xtabs .tab-content .thisismygroup{margin:0px;padding:0px; list-style: none; position:relative;}
.xtabs .tab-content .thisismygroup li{border-top:1px solid #eee; border-right:1px solid #eee; display:block; padding:0px; margin:0px;}
.xtabs .tab-content .thisismygroup li:first-child{border-top:0;}
.xtabs .tab-content .thisismygroup li::after{content:''; display:table; clear:both;}
.xtabs .tab-content .thisismygroup li a{display:block; background:transparent; padding:10px;}
.xtabs .tab-content .thisismygroup li::after,.thisismygroup li a::after{content:''; display:table; clear:both;}
.xtabs .tab-content .thisismygroup li a:hover{background:#f7f7f7;}
.xtabs .tab-content .thisismygroup li a .av{width:40px; height: 40px; float:left; margin-right:10px;}
.xtabs .tab-content .thisismygroup li a .av img{width:100%;display:block; border-radius: 3px 3px;}
.xtabs .tab-content .thisismygroup li a .fordetail{width:230px; float:left; min-height:40px; position:relative;}
.xtabs .tab-content .thisismygroup li a .fordetail .hername{font-size:14px; color:#444;width:95%;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;}

.xtabs .tab-content .thisismygroup li a .fordetail .whois_ingroup{height:20px; vertical-align: middle;}
.xtabs .tab-content .thisismygroup li a .fordetail .whois_ingroup img{width:20px; height:20px; display:inline-block;}
.xtabs .tab-content .thisismygroup li a .fordetail .whois_ingroup span{margin-left:5px; color:#777; display:inline-block; font-style: italic;}


/*
p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}
*/
   
    
/*
@media only screen and (max-width : 540px) {
    .chat-sidebar{display: none !important;}
    .chat-popup{display: none !important;}
}
*/
/* END of Side Bar Chat */
            
            .popup-box
            {
                display: none;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 450px;
                background-color: rgb(237, 239, 244);
                width: 320px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #AF0606;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 100%;
                overflow-y: scroll;
            }
/* START popup http://codepen.io/marcobiedermann/pen/rohwn?editors=1010*/            
.chat-popup{
        width: 320px;
        position: fixed;
/*         height: 450px; */
        right: 50%;
        bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border:0;
        background:#C41200;
        border-radius: 3px 3px 0 0;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    }
.chat-popup header {
  background: transparent;
  height:40px; top:0; left:0; position:absolute; width:100%;
  color: #ffffff;
  font-size: 14px;
  cursor:s-resize;
}
.chat-popup header:before,
.chat-popup header:after {
  display: block;
  content: '';
  clear: both;
}
.name_head{color:#fff; padding:5px;font-size:13px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:none;}
.name_head .name{width:100px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; float:left;}
button.chat-popup-cc{position:relative; top:5px; float:right; color:#fff; margin-right: 5px; background:rgba(0,0,0,0.1); vertical-align: middle; border:0;}
button.chat-popup-cc:hover{background:rgba(0,0,0,0.3);}
button.chat-popup-cc:focus{outline: none;}

button.chat-popup-xc{position:relative; top:0px; float:right; color:#fff; float:right;margin-right: 0px; background:rgba(0,0,0,0.1); vertical-align: middle; border:0;}
button.chat-popup-xc:hover{background:rgba(0,0,0,0.3);}
button.chat-popup-xc:focus{outline: none;}

.ichatwith{width:100%; height:45px; background:#fff; margin-top:10px; position:relative; float:left; border-bottom: 1px solid #ddd;}
.inchat .av{width:50px; height:50px; margin-left:10px; margin-right:10px; background:#fff; border-radius: 3px 3px; padding:2px; box-shadow: 0 0 2px 0 rgba(0,0,0,0.4); float:left; margin-top:-20px;}
.inchat .av > img{width:100%;border-radius: 3px 3px; display:block;}

.inchat .inchat-detail{width:calc(100% - 104px); float:left; height:40px; margin-top:10px;}
.inchat .inchat-detail .hername{font-size:14px; color:#444; width:100%;font-weight:400;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;}
.inchat .inchat-detail .hername a{color:#22b0db;}
.inchat .inchat-detail .des{height:20px; vertical-align:middle;}


.chat_form{width:320px; overflow:auto; height:40px; background:#fff; border-top:1px solid #ddd; color:#444; margin-top:0px; position:relative;}
.chat_form .chat_text_cv{min-height:100%;display:table; width:100%;}
.chat_form .chat_text_input{vertical-align: middle;padding:5px 5px 0; font-size: 13px; max-width: 310px;
    display: table-cell;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    word-wrap: break-word;
    overflow:hidden;}
.chat_form .chat_text_input:focus{outline: none;}

.chat_control{width:100%; height:40px; background:#fff; margin-top:0px; position:relative;}
.chat_control button.box_ctrl{width:40px; height:40px; font-size:16px; color:#c7c5c5; float:left; text-align: center; border:0; background:transparent;}
.chat_control button.box_ctrl.right{float:right !important;}

.chat_control .dropup button.box_ctrl{width:40px; height:40px; font-size:16px; color:#c7c5c5; float:left; text-align: center; border:0; background:transparent;}
.chat_control .dropup button.box_ctrl.right{float:right !important;}

.chat_control button.box_ctrl:hover{background:#f9f9f9;}
.chat_control button.box_ctrl:focus{outline: none;}

.chat_control .dropup button.box_ctrl:hover{background:#f9f9f9;}
.chat_control .dropup button.box_ctrl:focus{outline: none;}

.chatarea{width:100%; height:300px; max-height:300px; background:#ebeaea; margin-top:0; padding:0; float:left; position:relative; overflow:none;}
.chatarea .evt_res{border-bottom:1px solid #ddd; background:#fafae7; position:absolute; top:0; left:0; width:320px; padding:4px 10px; font-size:12px; z-index: 2;
	box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2);
}
.chatarea .find_frined{border-bottom:1px solid #ddd; background:#fff; position:absolute; top:0; left:0; width:320px; height:33px; padding:4px 10px; font-size:12px; z-index: 2;
	box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2);display:none;
}
.chatarea .find_frined .input_friend{padding:4px; line-height:16px; border:1px solid #ddd; width:270px; height:24px; float:left;}
.chatarea .find_frined .input_friend:focus{outline: none;}

button.chat-popup-cp{float:right; margin-left:5px; vertical-align: middle; margin-top:2px; color:#333; background:rgba(0,0,0,0.1); vertical-align: middle; border:0;}
button.chat-popup-cp:hover{background:rgba(0,0,0,0.3);}
button.chat-popup-cp:focus{outline: none;}


.chatarea .find_frined .myfriendlist::before{clear:both; content:''; display:table;}
.chatarea .find_frined .myfriendlist{min-height:40px; margin:0px; padding:0px; list-style:none; background:#f9f9f9; width:270px; box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2); float:left; display:none;}
.chatarea .find_frined .myfriendlist li{display:block; border-top:1px solid #ddd;}
.chatarea .find_frined .myfriendlist li:first-child{border-top:0px;}
.chatarea .find_frined .myfriendlist li a{padding:5px; display:block; background:transparent; text-decoration: none; vertical-align: middle;}
.chatarea .find_frined .myfriendlist li a:hover,
.chatarea .find_frined .myfriendlist li a:focus{text-decoration: none; background:#f3f3f3;}
.chatarea .find_frined .myfriendlist li a img{width:24px; height:24px; display:inline-block; margin-right:10px;  vertical-align: middle; }
.chatarea .find_frined .myfriendlist li a .span{color:#666; font-weight:bold;  display:inline-block; vertical-align: middle; width:210px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.chatarea .msgsc{width:320px;max-height:300px;overflow:auto;position:absolute; bottom:0;}
.chatarea .itsme{width:100%; min-height:60px; padding:5px; margin:0px;}
.chatarea .myfriend{width:100%; min-height:60px; padding:5px 5px 15px 5px; margin:0px;}

.chatarea .myfriend::after,
.chatarea .itsme::after{display:table; content:''; clear:both;}
.chatarea .myfriend .chat_av{width:30px; height:30px; float:left; margin-right:5px;}
.chatarea .myfriend .chat_av > img{width:100%; max-height:30px; display:block; border-radius: 3px 3px;}
.chatarea .myfriend .messages{width:calc(80% - 35px); float:left; min-height:30px;}
.chatarea .itsme .messages{width:100%; float:right; min-height:30px;}


/* myfriend */
.chatarea .myfriend .sendlink {
  display: inline-block;
  margin: 0em 0.25em 0.25em 1em;
  min-height: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  border-radius: 0em 0.5em 0.5em 0.5em;
  line-height: 1.36;
  color: #444;
  background-color: #bacbff;
  font-size: 12px;
}
.chatarea .myfriend .sendlink a{
	color:#1d83ff;
}
.chatarea .myfriend .bubble {
  display: inline-block;
  margin: 0em 0.25em 0.25em 1em;
  min-height: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  border-radius: 0em 0.5em 0.5em 0.5em;
  line-height: 1.36;
  color: #444;
  background-color: #fff;
  font-size: 12px;
}
.chatarea .myfriend .bubble::before {
  content: '';
  display: block;
  width: 0.75em;
  height: 1em;
  position: absolute;
  left: -0.75em;
  top: 0;
  border-top: .75em solid #fff;
  border-left:.75em solid transparent;
}
.chatarea .myfriend .msg_date::before{display:table; content:''; clear:both;}
.chatarea .myfriend .msg_date{color:#999; font-size:11px; margin-left:1em;}
.chatarea .myfriend .msg_is_read{color:#999; font-size:11px; margin-left:1em;}
.chatarea .myfriend .msg_is_read i{margin-right:5px;}
.chatarea .myfriend .msg_is_read span{margin-left:5px;}

.chatarea .myfriend .img-chat{width:48%; display:inline-block; border:1px solid #ccc; border-radius: 5px 5px; overflow:hidden; position: relative;}
.chatarea .myfriend .img-chat::before{
	content: "";
	display: block;
	padding-top: 100%;
	}
.chatarea .myfriend .img-chat:hover{border:1px solid #aaa;}
.chatarea .myfriend .img-chat .img{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.chatarea .myfriend .img-chat .img > a img,
.chatarea .myfriend .img-chat .img > img{width:100%; display:block;}

/* itsme */
.chatarea .itsme .sendlink {
  display: inline-block;
  margin: 0em 1em 0.25em 0.25em;
  min-height: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  border-radius: 0.5em 0em 0.5em 0.5em;
  line-height: 1.36;
  color: #444;
  float:right;
  background-color: #baffde;
  font-size: 12px;
}
.chatarea .itsme .sendlink a{
	color:#1d83ff;
}
.chatarea .itsme .bubble {
  display: inline-block;
  margin: 0em 1em 0.25em 0.25em;
  min-height: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  border-radius: 0.5em 0em 0.5em 0.5em;
  line-height: 1.36;
  color: #444;
  background-color: #fcf5f5;
  font-size: 12px;
}
.chatarea .itsme .bubble::before {
  content: '';
  display: block;
  width: 0.75em;
  height: 1em;
  position: absolute;
  right: -0.75em;
  top: 0;
  border-top: .75em solid #fcf5f5;
  border-right:.75em solid transparent;
}
.chatarea .itsme .msg_date::before{display:table; content:''; clear:both;}
.chatarea .itsme .msg_date{color:#999; font-size:11px; margin-right:1em; text-align: right;}
.chatarea .itsme .msg_is_read{color:#999; font-size:11px; margin-right:1em; text-align: right;}
.chatarea .itsme .msg_is_read i{margin-right:5px;}
.chatarea .itsme .msg_is_read span{margin-left:5px;}

.chatarea .itsme .img-chat{width:48%; display:inline-block; border:1px solid #ccc; border-radius: 5px 5px; overflow:hidden; position: relative;}
.chatarea .itsme .img-chat::before{
	content: "";
	display: block;
	padding-top: 100%;
	}
.chatarea .itsme .img-chat:hover{border:1px solid #aaa;}
.chatarea .itsme .img-chat .img{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.chatarea .itsme .img-chat .img > a img,
.chatarea .itsme .img-chat .img > img{width:100%; display:block;}

.mygroupchat{padding:0px; margin:0px; list-style: none; max-height: 426px; overflow-y: scroll;}
.mygroupchat li{display:block; padding:10px; border-top:1px solid #e9eaed;}
.mygroupchat li::after{content:''; display:table; clear:both;}
.mygroupchat li:first-child{border-top:0;}

.mygroupchat li .they_av{width:40px; height:40px; float:left; margin-right:10px; vertical-align: middle;}
.mygroupchat li .they_av > img{width:100%; display:block;}
.mygroupchat li .they_name{vertical-align: middle; width:calc(100% - 170px); font-weight:bold; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; float:left;}
.mygroupchat li .they_name span{display:block; color:#999; font-size:12px; font-weight:normal;}
.mygroupchat li .they_action{width:120px; float:left; text-align:right; min-height:30px;}

/* Modal */
a[role="button"] {outline: none;}
/*Dialog container*/
		.bzn_dialog {
			opacity: 0;
			-webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
			box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
			margin: 78px auto 40px;
			background-color: #fff;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			position: relative;
			z-index: 900;
		}

		.fade {
			display: none;
		}

		/*Dialog Header*/
		.inner_gray {
			padding: 10px 12px;
			background-color: #f5f6f7;
			border-bottom: 1px solid #e5e5e5;
			-webkit-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			color: #4e5665;
			font-weight: bold;
			line-height: 19px;
			text-shadow: 0 1px 0 #fff;
		}

		.inner_gray_text {
			float: left;
		}

		.inner_gray_close_button {
			float: right;
		}

		/*Dialog body*/
		.inner_body_content {
			padding: 0px;
			background-color: #fff;
			font-size: 14px;
		}
		.p12{padding: 12px;}

		
		.input_group{display:block; margin-bottom:15px; font-size:12px;padding-top:15px; border-top:1px solid #e5e5e5; margin-top:20px;}
		.input_group label{display:block; font-weight:bold; margin-bottom:5px;}
		.input_group .group_name{height:24px; padding:4px; border:1px solid #e5e5e5; width:80%; float:left;}
		.input_group .group_name:focus{outline:none;}
        .input_group .setgroup_btn{width:20%; float:left;}
/*
		.inner_buttons {
			background: transparent;
			border-top: 1px solid #e9eaed;
			margin: 0 12px;
			padding: 12px 0;
			text-align: right;
		}
*/

		.okay_button {
			padding: 0 8px;
			background-color: #4e69a2;
			border-color: #435a8b #3c5488 #334c83 !important;
			color: #fff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-font-smoothing: antialiased;
			line-height: 20px;
			font-weight: bold;
			font-size: 12px;
			position: relative;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			white-space: nowrap;
		}

		.df_button {
			padding: 0 8px;
			margin-left: 4px;
			border-color: #cdced0 #c5c6c8 #b6b7b9 !important;
			color: #4e5665;
			text-shadow: 0 1px 0 #fff;
			background: #f6f7f8;
			background-image: -webkit-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: -moz-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: -ms-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: -o-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: linear-gradient(to bottom, #ffffff, #f6f7f8);
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-font-smoothing: antialiased;
			line-height: 22px;
			font-weight: bold;
			font-size: 12px;
			position: relative;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;
			margin-top:5px;
		}
		
		.submit_button {
			padding: 0 8px;
			margin-left: 4px;
			border-color: #cdced0 #c5c6c8 #b6b7b9 !important;
			color: #4e5665;
			text-shadow: 0 1px 0 #fff;
			background: #f6f7f8;
			background-image: -webkit-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: -moz-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: -ms-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: -o-linear-gradient(top, #ffffff, #f6f7f8);
			background-image: linear-gradient(to bottom, #ffffff, #f6f7f8);
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-font-smoothing: antialiased;
			line-height: 22px;
			font-weight: bold;
			font-size: 12px;
			position: relative;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;
		}
.submit_button:focus{outline:none;}
		/*Close Button*/
.dialog_close{position:relative; top:0px; float:right; font-weight:normal; color:#444; padding:0 5px; float:right;margin-right: 0px; background:rgba(0,0,0,0.1); text-decoration: none;}
.dialog_close:hover{background:rgba(0,0,0,0.3); color:#222;  text-decoration: none;}
.dialog_close:focus{outline: none;}

		/*Clear Fix*/
		.clearfix {
			zoom: 1;
		}

		.clearfix:after {
			clear: both;
			content: ".";
			display: block;
			font-size: 0;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}

		/*Dialog overlay*/
		.overlay {
			height: auto;
			left: 0;
			min-height: 100%;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 400;
			background-color: rgba(0, 0, 0, .4);
			display: none;
		}
		.loader{position:absolute; top:50%; left:50%; margin-left:-16px; margin-top:-16px;}

.posrel{position:relative;}
.setting_list{margin:0px; padding:0px; list-style:none; background:#f9f9f9; min-width:160px; max-width:270px; box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.2);
	position:absolute; z-index: 999; top:calc(100% + 5px); margin-left:-6px; border:1px solid #ddd; text-align: left; font-size:14px; color:#555; display:none;
	
}
.setting_list li{display:block; border-top:1px solid #ddd;}
.setting_list li:first-child{border-top:0px;}
.setting_list li a{padding:5px; display:block; background:transparent; text-decoration: none; vertical-align: middle; color:#555;}
.setting_list li a:hover,
.setting_list li a:focus{text-decoration: none; background:#f3f3f3;}
.setting_list li a img{width:24px; height:24px; display:inline-block; margin-right:10px;  vertical-align: middle; }
.setting_list li a .span{color:#666; font-weight:bold;  display:inline-block; vertical-align: middle; width:210px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


.group_av_Upload {
	position: relative;
	overflow: hidden;
	margin: 10px auto;
	background: #f9f9f9;
	border:1px dashed #e5e5e5;
	height: 90px;
	width: 90px;
	text-align: center;
}
.group_av_Upload:hover{border-color:#bdb9b9;}
.ex_upload{font-weight: bold; text-align:center;}
.group_av_Upload:after{content:'โลโก้ของกลุ่ม'; text-align:center; vertical-align: middle; line-height:90px; font-size:12px; color:#ababab;}
.group_av_Upload > img{width:100%; display:block;}
.group_av_Upload input.upload_av {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	text-align: center;
}

.dropup_stk {
  position: relative;
}
.ddx-menu {
  display: none;
  opacity: 0;
  list-style: none;
  padding:0px;
  margin:0px;
  position: absolute;
  bottom: 0;
  right: 0;
  background:#fff;
  border-width:1px 0 1px 1px;
  border-style:solid;
  border-color:#e5e5e5;
  width:186px;
  box-shadow: -1px -1px 5px 2px rgba(0,0,0,0.15);
}
.ddx-menu li,.ddx-menu li a {
  height:60px; width:60px; line-height:60px; vertical-align: middle; text-align: center; float:left;
}
.ddx-menu li:hover,.ddx-menu li a:hover{background:rgba(0,0,0,0.02);}
.ddx-menu li > img,.ddx-menu li a  > img{width:100%;}
.is-open {
  display: block;
  opacity: 1;
  transition: opacity .2s;
}

.ddx-menu:after {
	width: 0;
    height: 0;
    content: '';
    display: inline-block;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    -webkit-transform: rotate(360deg);
    border-width: 0 11px 11px;
    top: auto;
    bottom: -11px;
    border-bottom: none;
    border-top-width: 11px;
    border-top-color: #dddbdb;
    left: auto;
    right: 9px;
    z-index: 0;
}
.menu_arr:before {
	width: 0;
    height: 0;
    content: '';
    display: inline-block;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    -webkit-transform: rotate(360deg);
    border-width: 0 10px 10px;
    top: auto;
    bottom: -10px;
    border-bottom: none;
    border-top-width: 10px;
    border-top-color: #fff;
    left: auto;
    right: 10px;
    margin-top:-1px;
    z-index: 1;
}


.dropup_emo {
  position: relative;
}
.emo-menu {
  display: none;
  opacity: 0;
  list-style: none;
  padding:0px;
  margin:0px;
  margin-bottom:39px;
  position: absolute;
  bottom: 0;
  left: 0;
  background:#fff;
  border-width:1px 0;
  border-style:solid;
  border-color:#e5e5e5;
  width:186px;
/*   box-shadow: -1px -1px 1px 2px rgba(0,0,0,0.15); */
  height:302px; width:320px;
}
/*
.emo-menu li,.emo-menu li a {
  height:60px; width:60px; line-height:60px; vertical-align: middle; text-align: center; float:left;
}
.emo-menu li:hover,.emo-menu li a:hover{background:rgba(0,0,0,0.02);}
.emo-menu li > img,.emo-menu li a  > img{width:100%;}
*/
.is-open {
  display: block;
  opacity: 1;
  transition: opacity .2s;
}

.emo-menu:after {
	width: 0;
    height: 0;
    content: '';
    display: inline-block;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    -webkit-transform: rotate(360deg);
    border-width: 0 11px 11px;
    top: auto;
    bottom: -11px;
    border-bottom: none;
    border-top-width: 11px;
    border-top-color: #dddbdb;
    left: auto;
    left: 47px;
    z-index: 0;
}
.emo_arr:before {
	width: 0;
    height: 0;
    content: '';
    display: inline-block;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    -webkit-transform: rotate(360deg);
    border-width: 0 10px 10px;
    top: auto;
    bottom: -10px;
    border-bottom: none;
    border-top-width: 10px;
    border-top-color: #fff;
    left: auto;
    left: 48px;
    margin-top:-1px;
    z-index: 1;
}
    
.emo-menu_close{position:relative; top:0px; font-weight:normal; color:#444; padding:0 5px; float:right;margin-right: 0px; background:rgba(0,0,0,0.1); text-decoration: none;}
.emo-menu_close:hover{background:rgba(0,0,0,0.3); color:#222;  text-decoration: none;}
.emo-menu_close:focus{outline: none;}    
  
    
    
    
    
    
    
    
    