<link href="http://localhost:3000/public/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
<div class="inner_gray clearfix">
	<div class="inner_gray_text">
	    ส่งรูปภาพ
	</div>
	<div class="inner_gray_close_button">
	    <a href="#" class="dialog_close" role="button" title="Close">&times;</a>
	</div>
</div>
<div class="inner_body">
    <div class="inner_body_content p12">
	    <form method="post" action="http://localhost:3000/uploads" class="dropzone" id="dropzone-example">
		    <div class="fallback">
		      <input name="file" type="file" multiple />
		    </div>
		</form>
    </div>
</div>
<script src="http://localhost:3000/public/bower_components/dropzone/dist/dropzone.js"></script>
